.progress{
  margin: 10px;
}

.challenge{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.btn{
  margin: 5px;
}

.cbtn {
  width: 75px;
}

.calcButton{
  height: 20px;
  width: 50%;
}
